<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.madgroupyassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_v1"
        android:label="Lobang Corner"
        android:roundIcon="@mipmap/logo_v1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADGroupYAssignment">
        <activity
            android:name=".RecipeCornerPosts"
            android:exported="false"/>
        <activity
            android:name=".RecipeCornerMain"
            android:exported="false"/>
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HCChosenStall"
            android:exported="false"
            android:label="Hawker Corner"/>
        <activity
            android:name=".HawkerCornerMain"
            android:exported="false"
            android:label="Hawker Corner"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>