<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.np.madgroupyassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_v1"
        android:label="Lobang Corner"
        android:roundIcon="@mipmap/logo_v1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADGroupYAssignment">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4SvXLLKqYV_vG4gxIfW-AKnzdshJzkN0" />
        <activity
            android:name=".BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeCornerPosts"
            android:exported="false" />
        <activity
            android:name=".RecipeCornerMain"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>


</manifest>